<div class="container grocery-list-export">
  <% @result.each do |store| %>
    <h4><%= store[:name] %></h4>
    <div class="store-grid">
      <% store[:sections].each do |section| %>
        <ul class="section-container">
          <h5><%= section[:name] %></h5>
          <% section[:items].each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <h4>Misc</h4>
  <div class="store-grid">
    <ul class="section-container">
      <% @misc_items.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ul>
  </div>
</div>
