<div id="current-user">replace me</div>
<div class="container widened-container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="tasks-index-day">replace me</div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div id="tasks-index-weekend">replace me</div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div id="tasks-index-month">replace me</div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="tasks-index-year">replace me</div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="tasks-index-life">replace me</div>
    </div>
  </div>
  <a href="/on_call_auth" class="on-call-link">Get Google Calendar Refresh Token</a>
</div>
