<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div id="tasks-index-day">replace me</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div id="tasks-index-month">replace me</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div id="tasks-index-year">replace me</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div id="tasks-index-life">replace me</div>
    </div>
  </div>
</div>
