!/log/.keep
*.DS_Store
*.swp
.DS_Store
.env
/.bundle
/log/*
/node_modules/*
/tmp

# Vite Ruby
/public/vite*
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local
