.admin-modal {
  font-family: 'TeachableSans-Regular';

  .colors {

    .color {
      margin-top: 4px;
      display: inline-block;
      border-radius: 3px;
      width: 34px;
      height: 34px;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &.selected {
        border: solid 2px black;
      }
    }
  }
}
