body {
  font-family: 'TeachableSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 1.08px;
  background-color: #F5F6F7;
}

.admin-modal {
  font-family: 'TeachableSans-Regular';
}

.tasks-index input {
  font-size: inherit;
  border: 1px solid #E4E9ED;
  border-radius: 3px;
  color: black;
  letter-spacing: inherit;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.btn {
  padding: 7px 13px;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'TeachableSans-SemiBold';

  &.standard-width {
    width: 175px;
  }
}

.white-box {
  padding: 26px 26px;
  color: black;
  margin-bottom: 30px;
}

.admin-modal .white-box {
  margin-bottom: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 992px) {
 .container.widened-container {
   width: 90%;
 }
}

@media (min-width: 1200px) {
 .container.widened-container {
   width: 1300px;
 }
}

.component {
  font-family: 'TeachableSans-Regular';
}

h1 {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  color: #2C2F33;
  letter-spacing: 1.08px;
  margin-bottom: 24px;
  font-weight: 500;
}

.colors {

  .color {
    margin-top: 4px;
    display: inline-block;
    border-radius: 3px;
    width: calc((100% - 80px) / 9);
    height: 34px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &.selected {
      border: solid 2px black;
    }
  }
}

.index-component {

  hr {
    margin-left: -25px;
    width: calc(100% + 50px);
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 16px;
    font-family: 'TeachableSans-Regular';

    &.extra-margin { margin-bottom: 30px; }

    th {
      font-family: 'TeachableSans-SemiBold';
      padding-bottom: 10px;

      &:first-of-type {
        padding-left: 10px;
      }

      &:last-of-type {
        width: 40px;
      }
    }

    td {
      padding: 6px 0;

      &:first-of-type {
        padding-left: 10px;
      }

      .swatch {
        width: 14px;
        height: 14px;
      }
    }

    tr.below-header td {
      padding-top: 0;
    }

    thead {
      border-bottom: solid 1px #DADEE2;
    }

    tbody tr:not(.below-header):hover {
      background-color: #F5F5F5;
    }

    td:last-of-type {

      .x-button {
        background-image: asset-url('gray-x.png');
        background-size: 17px;
        background-position: 50%;
        height: 17px;
        cursor: pointer;
      }
    }
  }
}
