.white-box .weekday-checkboxes {
  height: 91px;

  input[type="checkbox"] {
    vertical-align: top;
    margin-top: 0px;
    margin-right: 8px;
  }

  label {
    vertical-align: top;
    width: 39px;
  }
}
