#recurring-tasks-index table {
  table-layout: fixed;

  td {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  tr.below-header td {
    padding: 0;
  }

  th:first-of-type {
    width: 30%;
  }

  th:nth-of-type(6) {
    width: 40px;
  }

  tr:not(.below-header):not(.drop-zone) td {
    cursor: pointer;
  }

  tr.drop-zone {
    height: 7px;

    &.highlight {
      height: 5px;
      border: dashed 1px black;
    }
  }
}

.recurrence-field-column {

  input {
    width: calc(100% - 50px);
    margin-right: 15px;
  }

  a {
    margin-top: 28px;
    color: #5F5F5F;
    cursor: pointer;
    text-decoration: underline;
  }
}

.update-recurrence-button {
  margin-top: 5px;
}

td .handle {
  background-image: asset-url('handle.png');
  background-size: 17px;
  background-position: 50%;
  height: 17px;
  cursor: grab;
}
