.white-box .weekday-checkboxes {
  height: 91px;

  input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 8px;
  }

  label {
    vertical-align: middle;
    width: 35px;
  }
}
