@font-face {
  font-family: 'TeachableSans-Regular';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TeachableSans-Medium";
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TeachableSans-SemiBold';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'TeachableSans-Bold';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'TeachableSans-ExtraBold';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.ttf") format("truetype");
}

body {
  font-family: 'TeachableSans-SemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 1.08px;
  background-color: #F5F6F7;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}

input {
  font-size: inherit;
  border: 1px solid #E4E9ED;
  border-radius: 3px;
  color: black;
  letter-spacing: inherit;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
