@font-face {
  font-family: 'TeachableSansRegular';
  src: font-url('fonts/TeachableSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('fonts/TeachableSans-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TeachableSansMedium';
  src: font-url('fonts/TeachableSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('fonts/TeachableSans-Medium.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TeachableSansSemiBold';
  src: font-url('fonts/TeachableSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('fonts/TeachableSans-SemiBold.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TeachableSansBold';
  src: font-url('fonts/TeachableSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('fonts/TeachableSans-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TeachableSansExtraBold';
  src: font-url('fonts/TeachableSans-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('fonts/TeachableSans-ExtraBold.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
  font-family: 'TeachableSansSemiBold', sans-serif;
  font-size: 12px;
  letter-spacing: 1.08px;
  background-color: #F5F6F7;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}

input {
  font-size: inherit;
  border: 1px solid #E4E9ED;
  border-radius: 3px;
  color: black;
  letter-spacing: inherit;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
